block variables
  -
    var
      setTitle = function (pageTitle) {
        return pageTitle ? pageTitle + " — интернет-магазин Device" : "Device — интернет-магазин гаджетов"
      }
    ;

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title #{setTitle(pageTitle)}
    link(rel="preload" href="fonts/gilroyextrabold.woff2" as="font" crossorigin)
    link(rel="preload" href="fonts/opensanslight.woff2" as="font" crossorigin)
    link(rel="preload" href="fonts/gilroylight.woff2" as="font" crossorigin)
    link(rel="preload" href="fonts/opensans.woff2" as="font" crossorigin)
    link(rel="stylesheet" href="css/style.min.css")

  body.page
    header.page__header

    main.page__main
      p Test

    footer.page__footer
      p Test
